# Ignore node_modules folder
node_modules/

# Ignore compiled Python files
*.pyc

# Ignore log files
*.log

# Ignore environment variables
.env

# Ignore system files
.DS_Store
Thumbs.db


# Added by cargo

/target